#calendar {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.fc-event {
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.75em;
    padding: 2px 4px;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

.fc-event-main {
    overflow: hidden;
    text-overflow: ellipsis;
}

.fc-event-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.fc-daygrid-block-event .fc-event-time,
.fc-daygrid-block-event .fc-event-title {
    display: inline;
    padding: 0 2px;
}

.fc-daygrid-event-dot {
    display: none;
}

.completed-event {
    text-decoration: line-through;
    opacity: 0.8;
}